<h3>View Employee Details</h3>
<div>
    <div>
        <label>
            <b> Employee ID: </b> {{employee.emp_Id}}
        </label>
    </div>
    <br>
    <div>
        <label>
            <b> First Name: </b> {{employee.firstName}}
        </label>
    </div>
    <br>
    <div>
        <label>
            <b> Last Name: </b> {{employee.lastName}}
        </label>
    </div>
    <br>
    <div>
        <label>
            <b> Age: </b> {{employee.age}}
        </label>
    </div>
    <br>
    <div>
        <label>
            <b> Mobile: </b> {{employee.mobile}}
        </label>
    </div>
    <br>
    <div>
        <label>
            <b> Email Id: </b> {{employee.emailId}}
        </label>
    </div>
    <br>
    <div>
        <label>
            <b> Designation: </b> {{employee.work}}
        </label>
    </div>

</div>
